<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ishita.swaglabs.testcases.TC001_PerformLogin"/>
      <class name="com.ishita.swaglabs.testcases.TC002_GoToAbout"/>
      <class name="com.ishita.swaglabs.testcases.TC003_ApplyFilterAndAddItemToCart"/>
      <class name="com.ishita.swaglabs.testcases.TC004_PerformCheckoutAndConfirmOrder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
